# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/

# Variables de entorno
.env

# VSCode
.vscode/

# Mac
.DS_Store



main.spec
run.spec
src/build/
src/dist/
src/main.spec
build/
dist/